.login-wrapper {
  max-width: 300px;
  margin: 2em auto;
  padding: 2em;
  border-radius: 1em;
  background: #f6fff6;
  box-shadow: 0 0 1em #b2ffb2;
}
label {
  display: block;
  margin-top: 1em;
}
input {
  width: 100%;
  padding: 0.5em;
  margin-top: 0.5em;
  border-radius: 0.5em;
  border: 1px solid #ccc;
}
button {
  margin-top: 1em;
  width: 100%;
  padding: 0.5em;
  background: #b2ffb2;
  border: none;
  border-radius: 0.5em;
  font-weight: bold;
}
.error {
  color: red;
  margin-top: 1em;
}
