<div class="task-details-wrapper">
  <div class="task-details">
    @if (task !== undefined) {
      @if (editing === false) {
        <div class="task-header">
          <h2>{{ task.title }}</h2>
          <div class="edit-buttons">
            <a class='delete' (click)="deleteTask()">Delete</a>
            <mat-icon (click)="editTask()" aria-label="Edit icon">edit</mat-icon>
          </div>
        </div>
        <p>
          <span class="info-type">Description:</span>
          <span class="info-description">{{ task.description }}</span>
        </p>
        <p>
          <span class="info-type">Status:</span>
          <span class="info-status">{{ task.status }}</span>
        </p>
      } @else {
        <div class="task-header">
          <input [(ngModel)]="editTitle" />
          <div class="change-buttons">
            <a class='save' (click)="saveTask()">Save</a>
            <a class='cancel' (click)="cancelEdit()">Cancel</a>
          </div>
        </div>
        <p>
          <span class="info-type">Description:</span>
          <input class='description-edit' [(ngModel)]="editDescription" />
        </p>
        <p>
          <span class="info-type">Status:</span>
          <select class="options" [(ngModel)]="editStatus">
            <option value="to-do">to-do</option>
            <option value="in-progress">in-progress</option>
            <option value="done">done</option>
          </select>
        </p>
      }
    } @else {
      <app-not-found></app-not-found>
    }
  </div>
</div>

