@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');

.task-header h2 {
  font-family: "Gravitas One", serif;
  font-weight: 400;
  font-style: normal;
}

.task-header mat-icon {
  cursor: pointer;
  padding: 0.8em;
}

.task-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-buttons{
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.info-type {
  font-family: "Gravitas One", serif;
  font-weight: 200;
  font-style: normal;
  font-size: 0.9em;
}

.task-details p {
  display: flex;
  gap: 0.5em;
  justify-content: flex-start;
  align-items: center;
}

.info-status {
  padding: 0.2em;
  background-color: lightgreen;
}

.task-details-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
}

.task-details {
  border: 1px solid green;
  border-radius: 1em;
  box-shadow: 0 0 1em green;
  padding: 2em;
  width: 30vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.delete{
  font-size: 0.8em;
  padding: 0.5em;
  width: 5em;
  background-color: lightcoral;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1em coral;
}

.save {
  font-size: 0.8em;
  padding: 0.5em;
  width: 5em;
  background-color: lightgreen;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1em green;
}

.cancel {
  font-size: 0.8em;
  padding: 0.5em;
  width: 5em;
  background-color: lightcoral;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1em coral;
}

.change-buttons {
  display: flex;
  gap: 0.5em;
}

.description-edit {
  width: 50vw;
  height: 10vh;
}

input {
  border-radius: 0.5em;
  padding: 0.5em;
  border: 1px solid green;
}

.options{
  border-radius: 0.5em;
  padding: 0.5em;
  border: 1px solid green;
}
