<div class="board-header">
  <h1><p>d</p> The d company</h1>
  <div class="action-buttons">
    <a (click)="navigateToNewTask()">Create task +</a>
    @if (isLoggedIn()) {
      <a (click)="logout()">Logout</a>
    } @else {
      <a [routerLink]="['/login']">Login</a>
    }
  </div>
</div>
<div class="board" cdkDropListGroup>
  <div class="card">
    <h2>To Do</h2>
    <div class="tasksContainer" cdkDropList [cdkDropListData]="toDoList" (cdkDropListDropped)="drop($event, 'to-do')">
      @for (task of toDoList; track task.id) {
        <div class="task" (click)="openTask(task.id)" cdkDrag>
          <p>{{ task.title }}</p>
          <p>{{ task.assignedTo || 'Unassigned' }}</p>
          <p>{{ task.estimation || '' }}</p>
        </div>
      } @empty {
        <div class="task">No tasks</div>
      }
    </div>
  </div>
  <div class="card">
    <h2>In progress</h2>
    <div class="tasksContainer" cdkDropList [cdkDropListData]="inProgressList" (cdkDropListDropped)="drop($event, 'in-progress')">
      @for (task of inProgressList; track task.id) {
        <div class="task" (click)="openTask(task.id)" cdkDrag>
          <p>{{ task.title }}</p>
          <p>{{ task.assignedTo || 'Unassigned' }}</p>
          <p>{{ task.estimation || '' }}</p>
        </div>
      } @empty {
        <div class="task">No tasks</div>
      }
    </div>
  </div>
  <div class="card">
    <h2>Done</h2>
    <div class="tasksContainer" cdkDropList [cdkDropListData]="doneList" (cdkDropListDropped)="drop($event, 'done')">
      @for (task of doneList; track task.id) {
        <div class="task" (click)="openTask(task.id)" cdkDrag>
          <p>{{ task.title }}</p>
          <p>{{ task.assignedTo || 'Unassigned' }}</p>
          <p>{{ task.estimation || '' }}</p>
        </div>
      } @empty {
        <div class="task">No tasks</div>
      }
    </div>
  </div>
</div>
