@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');

h1 p {
  color: white;
  background-color: blue;
  padding: 0.5em;
  display: inline;
  font-family: "Gravitas One", serif;
  font-size: 1em;
  border-radius: 50%;
}

h1 {
  font-family: "Gravitas One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
}

.board {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card {
  display: block;
  gap: 1em;
  margin-top: 1em;
}

.card h2 {
  font-family: "Gravitas One", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 1.1em;
}

.tasksContainer {
  border: 0.1em solid black;
  min-width: 20em;
  min-height: 40em;
  min-height: 30em;
  padding: 1em;
  background-color: #f6fff6;
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-radius: 1em;
  box-shadow: 0 0 0.5em green;
  border: none;
}

.board-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.1em solid black;
  padding: 0.5em;
  border-radius: 1em;
  box-shadow: 0 0 0.5em green;
  border: none;
}

.task p {
  margin: 0.2em;
}

.board-header a {
  padding: 0.2em;
  background-color: lightgreen;
  width: 7em;
  height: 2em;
  border-radius: 1em;
  box-shadow: 0 0 1em green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-buttons{
  display: flex;
  gap: 1em;
}

@media (min-width: 960px) and (max-width: 1200px) {
  .tasksContainer {
    min-width: 15em;
    min-height: 40em;
  }
}

@media (min-width: 701px) and (max-width: 960px) {
  .tasksContainer {
    min-width: 10em;
    min-height: 40em;
  }
}

@media (max-width: 700px) {
  .board {
    flex-direction: column;
    align-items: stretch;
    gap: 0.5em;
  }
  .card {
    max-width: 100vw;
    min-width: 0;
    margin: 0.5em 0;
    padding: 0.5em;
  }
  .tasksContainer {
    max-width: 100vw;
    min-width: 0;
    padding: 0.5em;
    min-height: 10em;
    max-height: 30vh;
    font-size: 0.9em;
  }
  .board-header h1 {
    font-size: 1.5em;
  }

  .board-header a {
    font-size: 0.8em;
    padding: 0.4em;
    width: 7em;
    height: 2em;
  }

  .board-header {
    flex-direction: column;
    gap: 1em;
  }
}
