@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');

h1 p {
  color: white;
  background-color: blue;
  padding: 0.5em;
  display: inline;
  font-family: "Gravitas One", serif;
  font-size: 1em;
  border-radius: 50%;
}

h1 {
  font-family: "Gravitas One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
}

.board {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card {
  display: block;
  gap: 1em;
  margin-top: 1em;
}

.card h2 {
  font-family: "Gravitas One", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 1.1em;
}

.tasksContainer {
  border: 0.1em solid black;
  width: 20em;
  height: 40em;
  padding: 1em;
  background-color: #f6fff6; /* even lighter green near white */
}

.task {
  border: 0.1em solid black;
  padding: 0.5em;
}

.board-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tasksContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-radius: 1em;
  box-shadow: 0 0 0.5em green;
  border: none;
}

.task {
  border-radius: 1em;
  box-shadow: 0 0 0.5em green;
  border: none;
}

.board-header a {
  padding: 0.2em;
  background-color: lightgreen;
  width: 7em;
  height: 2em;
  border-radius: 1em;
  box-shadow: 0 0 1em green;
  display: flex;
  justify-content: center;
  align-items: center;
}
