<div class="board-header">
  <h1><p>d</p> The d company</h1>
  <div class="action-buttons">
    <a (click)="navigateToNewTask()">Create task +</a>
    @if (isLoggedIn()) {
      <a (click)="logout()">Logout</a>
    } @else {
      <a [routerLink]="['/login']">Login</a>
    }
  </div>
</div>
<div class="board">
  <div class="card">
    <h2>To Do</h2>
    <div class="tasksContainer">
      @for (task of toDo | async; track task.id) {
        <div class="task" (click)="openTask(task.id)">
          <p>{{ task.title }}</p>
          <p>{{ task.assignedTo || 'Unassigned' }}</p>
          <p>{{ task.estimation || '' }}</p>
        </div>
      } @empty {
        <div class="task">No tasks</div>
      }
    </div>
  </div>
  <div class="card">
    <h2>In progress</h2>
    <div class="tasksContainer">
      @for (task of inProgress | async; track task.id) {
        <div class="task" (click)="openTask(task.id)">
          <p>{{ task.title }}</p>
          <p>{{ task.assignedTo || 'Unassigned' }}</p>
          <p>{{ task.estimation || '' }}</p>
        </div>
      } @empty {
        <div class="task">No tasks</div>
      }
    </div>
  </div>
  <div class="card">
    <h2>Done</h2>
    <div class="tasksContainer">
      @for (task of done | async; track task.id) {
        <div class="task" (click)="openTask(task.id)">
          <p>{{ task.title }}</p>
          <p>{{ task.assignedTo || 'Unassigned' }}</p>
          <p>{{ task.estimation || '' }}</p>
        </div>
      } @empty {
        <div class="task">No tasks</div>
      }
    </div>
  </div>
</div>
